# Python virtual environment
venv/

# Original HEIC files (excluded as requested)
raw_heic/

# YOLO pre-trained and trained models
*.pt
!runs/detect/paper_bag_runs/detect_bags/**
!runs/detect/paper_bag_runs/detect_bags-2/**
yolo_dataset/
test_predictions/

# Pycache and python outputs
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db
